# This project assumes you already have a system-wide ignore file
# such as one provided by https://gitignore.io configured for 'xcode'

# App secrets!
BikeIndex-development.xcconfig
BikeIndex-production.xcconfig

# Test app secrets!
Test-credentials.xcconfig

# Fastlane recommended ignore:
# https://docs.fastlane.tools/best-practices/source-control/

# fastlane specific
**/fastlane/report.xml

# deliver temporary files
**/fastlane/Preview.html

# snapshot generated screenshots
**/fastlane/screenshots

# scan temporary files
**/fastlane/test_output

# symbolic link to metadata elsewhere on disk
app-store-metadata
