//
//  Test-credentials-template.xcconfig
//  BikeIndex
//
//  Created by Jack on 12/4/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Provide valid credentials for UI Tests to use during sign-in.
TEST_USERNAME =
TEST_PASSWORD =
