##
# Image details: https://github.com/actions/runner-images/blob/main/images/macos/macos-26-arm64-Readme.md
##
name: iOS Test Suite
permissions:
  contents: read

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
# MARK: Continuous Integration
  build-tests:
    name: Build project and cache build products
    runs-on: macos-26
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}
      - name: Set Xcode 26.2
        run: sudo xcode-select -s /Applications/Xcode_26.2.app
      - name: Install tools
        run: brew bundle install
      - name: Set up xcconfig (see README.md#quick-start)
        env:
          BIKE_INDEX_DEVELOPMENT_XCCONFIG: ${{ secrets.BIKE_INDEX_DEVELOPMENT_XCCONFIG }}
        run: |
          echo "$BIKE_INDEX_DEVELOPMENT_XCCONFIG" >> BikeIndex-development.xcconfig
      - name: Set up xcconfig UI test credentials (see README.md#UI-Test-configuration)
        env:
          BIKE_INDEX_TEST_CREDENTIALS: ${{ secrets.BIKE_INDEX_TEST_CREDENTIALS }}
        run: |
          echo "$BIKE_INDEX_TEST_CREDENTIALS" >> Test-credentials.xcconfig
      - name: List available simulators
        run: xcodebuild -scheme BikeIndex -project BikeIndex.xcodeproj -showdestinations
      - name: Build
        run: fastlane scan --build_for_testing=true
      - name: Save build products directory
        id: cache-build-save
        uses: actions/cache/save@v4
        with:
          path: build
          key: cache-build-${{ github.sha }}

  # test-suite:
  #   needs: build-tests
  #   runs-on: macos-26
  #   name: ${{ matrix.device }} ${{ matrix.only-testing }} ${{ matrix.deployment_target_version }}
  #   strategy:
  #     matrix:
  #       device: ["iPhone 17", "iPhone 17 Pro", "iPad (A16)"]
  #       deployment_target_version: ["26.2"]
  #       only-testing: ["UnitTests", "UITests"]
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v4
  #       with:
  #         ref: ${{ github.ref }}
  #     - name: Set Xcode 26.2
  #       run: sudo xcode-select -s /Applications/Xcode_26.2.app
  #     - name: Restore cached build products
  #       id: cache-build-restore
  #       uses: actions/cache/restore@v4
  #       with:
  #         path: build
  #         key: cache-build-${{ github.sha }}
  #     - name: Set up xcconfig (see README.md#quick-start)
  #       env:
  #         BIKE_INDEX_DEVELOPMENT_XCCONFIG: ${{ secrets.BIKE_INDEX_DEVELOPMENT_XCCONFIG }}
  #       run: |
  #         echo "$BIKE_INDEX_DEVELOPMENT_XCCONFIG" >> BikeIndex-development.xcconfig
  #     - name: Set up xcconfig UI test credentials (see README.md#UI-Test-configuration)
  #       env:
  #         BIKE_INDEX_TEST_CREDENTIALS: ${{ secrets.BIKE_INDEX_TEST_CREDENTIALS }}
  #       run: |
  #         echo "$BIKE_INDEX_TEST_CREDENTIALS" >> Test-credentials.xcconfig
  #     - name: ${{ matrix.only-testing}} on ${{ matrix.device }} ${{ matrix.deployment_target_version }}
  #       run: fastlane scan --only-testing="${{ matrix.only-testing }}" --device="${{ matrix.device }}" --deployment-target-version="${{ matrix.deployment_target_version }}" --test_without_building=true
  #     - uses: actions/upload-artifact@v4
  #       if: always()
  #       with:
  #         name: test_output_${{ matrix.device }}_${{ matrix.only-testing }}
  #         path: "fastlane/test_output/*"
  #         compression-level: 9 # maximum compression

# MARK: Continuous Delivery
  build-release:
    # if: startsWith(github.head_ref, 'release/v')
    needs: build-tests
    name: Build release archive for distribution
    runs-on: macos-26
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}
      - name: Set Xcode 26.2
        run: sudo xcode-select -s /Applications/Xcode_26.2.app
      - name: Load API key
        env:
          MATCH_API_KEY_JSON_CONTENT: ${{ secrets.MATCH_API_KEY_JSON_CONTENT }}
        run: echo "$MATCH_API_KEY_JSON_CONTENT" > ./fastlane/api-key.json
      - name: Set up xcconfig (see README.md#quick-start)
        env:
          BIKE_INDEX_PRODUCTION_XCCONFIG: ${{ secrets.BIKE_INDEX_PRODUCTION_XCCONFIG }}
        run: |
          echo "$BIKE_INDEX_PRODUCTION_XCCONFIG" >> BikeIndex-production.xcconfig
      - name: Load codesigning
        env:
          CODESIGNING_IOS_READ_TOKEN: ${{ secrets.CODESIGNING_IOS_READ_TOKEN }}
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
          MATCH_READONLY: "true"
        run: |
          sed -i.bak "s/git_url.*/git_url\(\"https:\/\/${GITHUB_ACTOR}:${CODESIGNING_IOS_READ_TOKEN}@github.com\/bikeindex\/codesigning_ios.git\"\)/g" fastlane/Matchfile
          fastlane CD_setup_keychain_and_codesigning
      - name: Build release archive
        run: fastlane BI_build_release_archive
      - uses: actions/upload-artifact@v4
        if: success()
        with:
          name: BikeIndex.app.dSYM.zip
          path: BikeIndex.app.dSYM.zip
          compression-level: 9
